<div class="container">

	<div class="row">
	<div class="col-sm-6">
		<table class="table">
		<thead><tr><h3> General Information</h3></tr></thead>
		<tbody>
		<tr> <td> Name </td> <td> Node1</td></tr>
		<tr> <td> ID </td> <td> 1234444 </td></tr>
		<tr> <td> Type </td> <td> Router1 </td></tr>
		<tr> <td> Status </td> <td> Running </td></tr>		
		</tbody>
		</table>
	</div>
	<div class="col-sm-5">	
		<h3>Services</h3>
		<ul class="list-group">
		<li class="list-group-item">Quagga</li>
		<li class="list-group-item">Openvpn</li>
		</ul>		
	</div>
	</div>

	<div class="row">
	<div class="col-sm-12">
		<table class="table">
		<thead><tr><h3> Interfaces</h3></tr></thead>
		<thead><th>ifname</th><th>ipaddress</th> <th>netmask</th><th>type</th></thead>
		<tbody>
		<tr> <td> eth0 </td> <td>10.0.3.1</td><td>255.255.255.0</td><td>mgmt </td></tr>		
		</tbody>
		</table>
	</div>
	</div>
</div>