<div class="container">
	<form class="form-horizontal">
		<div class="formgroup">
			<div class="row">
				<div class="col-sm-2">
					<label	for="projectID" >ProjectID</label>
				</div>
				<div class="col-sm-2">
					{{input type="text" placeholder="unknown"}}
				</div>			
			</div>			
		</div>

		<div class="formgroup">
			<div class="row">
				<div class="col-sm-2">
					<label	for="passCode" >passCode</label>
				</div>
				<div class="col-sm-2">
					{{input type="password" placeholder="unknown"}}
				</div>			
			</div>			
		</div>
				
		<button	type="submit" class= "btn btn-primary">Login</button>
	</form>	
</div>